<style>
    #ad-section {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
</style>
<section id=ad-section></section>

<!-- TODO: Use a centralized script and collection of images on noedgesoftware.com instead of each individual site -->
<script>
    let ads = [
        `<a href="https://www.swagbucks.com/profile/jtenos" target=_blank>
            <img src="/notes.noedgesoftware.com/assets/ads/swagbucks-banner-1800x771.jpg" alt="Swagbucks" style="width: 500px;max-width:100%;">
        </a>`,

        `<a href="https://www.befrugal.com/rs/FGYPFBL/" target=_blank>
            <img src="https://btn.bfrl.us/refer/banners/befrugal-cashback-250x250-button2.png" width="250" height="250" alt="BeFrugal.com Cash Back" style="width: auto;max-width:100%;" />
        </a>`,

        `<a href="https://www.rakuten.com/r/JOE9392?eeid=28187" target=_blank>
            <img src="/notes.noedgesoftware.com/assets/ads/Rakuten-banner-1024x1024.webp" alt="Rakuten" style="width: auto;max-width:100%;">
        </a>`,

        `<a href="https://geta.raise.com/jenos4326" target=_blank>
            <img src="/notes.noedgesoftware.com/assets/ads/Raise_300x2501.jpg" style="width: auto;max-width:100%;">
        </a>`
    ];
    let ad = ads[Math.floor(Math.random() * ads.length)]
    document.querySelector("#ad-section").innerHTML = ad;
</script>
